@charset "UTF-8";

:root {
  --purple: rgb(89, 76, 256);
  --yellow: #fae100;
  --grey: #e9ecef;
  --border-line__grey: #dddddd;
  --green: rgb(0, 191, 24);
  --white: rgb(245, 245, 245);
  --deepgrey: rgb(108,108,108);
}